<div class="row center-block">

    <div class="alert alert-success fade in" ng-show="addBookAlert">
        Your have added a new book successfilly!
        <button class="close" ng-click="addBookAlert = false">&times;</button>
    </div>
    
    <div>
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <strong>ADD NEW BOOK</strong>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <span>
                                <strong>Title:</strong>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="title" required>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <span>
                                <strong>Author:</strong>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="author" required>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <span>
                                <strong>Category:</strong>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="category">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <span>
                                <strong>Description:</strong>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" type="text" ng-model="description"></textarea>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-5">
                    <button class="btn btn-success" ng-click="saveBook()">Save</button>
                    <a class="btn btn-danger" href="#/allBooks">Back</a>
                </div>
            </div>
        </div>
    </div>
    
</div>